@model PortalWeb.Models.AuthServer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuthServer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.App)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.App.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Router)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Router.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
