@model PortalWeb.Models.App

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>

    <h4>App</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedirectUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedirectUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
